@using DataverseMVCProject.Models.Customer
@model List<CustomerViewModel>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
    <h1 style="margin-bottom: 40px">Πελατολόγιο</h1>
           
            <table class="table table-light table-striped" id="app" style="justify-content: space-between; display: flex;">
              <thead>
                <tr>
                  <th scope="col">Όνομα</th>
                  <th scope="col">Επώνυμο</th>
                  <th scope="col">Τηλέφωνο Επικοινωνίας</th>
                  <th scope="col">Διεύθυνση Κατοικίας</th>
                  <th scope="col">Email</th>
                  <th scope="col">Actions</th>
                </tr>
             </thead>
             <tbody>
                <tr v-for="item in items">
                  <tb scope="col">{{ item.Firstname }}</tb>
                  <tb scope="col">{{ item.Surname }}</tb>
                  <tb scope="col">{{ item.ContactPhone }}</tb>
                  <tb scope="col">{{ item.Address }}</tb>
                  <tb scope="col">{{ item.Email }}</tb>
                  <tb scope="col">Actions</tb>
                </tr>
             </tbody>
           </table>
          

<script>

    var vueApp = new Vue({
        el: '#app',
        data: {
                items: @Model
                }
        }
    });
    
</script>